{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>TCM</title>
    <link rel="shortcut icon" href="{% static 'image/logo1.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">

    <!-- Nunito -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <!-- Oswald -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    
</head>
<body>
    <style>
        body{
            background-image: url("{% static 'image/fondo1.png' %}");
        }
    </style>
    
    {% include 'snippets/navbar-actividades-emp.html' %}

    {% block content %}
    {% if grupo == 'Empleados' or user.is_staff %}
        <div class="container">
            <h1 style="font-weight: bold; margin-bottom: 20px;">Total de Producción</h1>
            <div class="production-info">
                <h2>Total de Producción Acumulado Diario:</h2>
                <p class="total">{{ total_production_daily }}</p>
            </div>
            <div class="production-info">
                <h2>Total de Producción Acumulado Semanal:</h2>
                <p class="total">{{ total_production_weekly }}</p>
            </div>
            <div class="production-info">
                <h2>Total de Producción Acumulado Mensual (Salario):</h2>
                <p class="total">{{ total_production_monthly }}</p>
            </div>
            <div class="production-info">
                <h2>Total de Producción Acumulado Anual:</h2>
                <p class="total">{{ total_production_yearly }}</p>
            </div>
            <!-- Otro contenido de la plantilla si es necesario -->
        </div>
    {% else %}
        <div class="container mt-5">
            <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h3>Bienvenido</h3>
                <p>Por favor, inicia sesión como empleado.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Ir al Inicio de Sesión</a>
            </div>
            </div>
        </div>
    {% endif %}
    <style>

        h2 {
            font-size: 18px;
            margin-bottom: 5px;
        }

        .production-info {
            margin-bottom: 20px;
        }

        .total {
            font-size: 24px;
            font-weight: bold;
            color: #000;
        }
    </style>
{% endblock %}


    {% include 'snippets/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>